<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.misterdeveloper.biometricauthentication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiometricAuthentication">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
           />

        <activity
            android:name=".ui.ListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".ui.EncryptionActivity"
            android:label="@string/encrypt_message"
            android:parentActivityName=".ui.ListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.DecryptionActivity"
            android:label="@string/decrypt_message"
            android:parentActivityName=".ui.ListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>